name: DVWA DevSecOps Pipeline

on:
  push:
    branches:
      - main

jobs:
  sast_scan:
    name: SAST Scan DVWA with SonarCloud
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Run SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v2
        with:
          organization: "kaoutar-20"       # exactement comme sur SonarCloud
          projectKey: "DVWA"               # exactement comme sur SonarCloud
          projectBaseDir: "./DVWA"
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  # ==================================
  # 2️⃣ SCA – Analyse des dépendances avec Trivy
  # ==================================
  sca_scan:
    name: SCA Scan DVWA
    runs-on: ubuntu-latest
    needs: sast_scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Trivy
        run: |
          sudo apt-get update && sudo apt-get install -y wget apt-transport-https gnupg lsb-release
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install -y trivy

      - name: Run Trivy SCA Scan
        run: |
          trivy fs --security-checks vuln --exit-code 1 --format json --output trivy-sca-report.json ./DVWA || true

      - name: Upload SCA Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: trivy-sca-report
          path: trivy-sca-report.json

  # ==================================
  # 3️⃣ Docker Build + Image Security
  # ==================================
  image_scan:
    name: Build and Scan DVWA Image
    runs-on: ubuntu-latest
    needs:
      - sast_scan
      - sca_scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build DVWA Docker Image
        run: docker build -t dvwa:latest ./DVWA

      - name: Login to Docker Hub
        run: echo ${{ secrets.REPO_PWD }} | docker login -u ${{ secrets.REPO_USER }} --password-stdin

      - name: Install Docker Scout
        run: |
          curl -fsSL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh -o install-scout.sh
          sh install-scout.sh

      - name: Docker Scout Quickview
        run: docker scout quickview dvwa:latest || true

      - name: Docker Scout CVE Scan
        run: docker scout cves dvwa:latest || true
